# Fichiers de données
*.csv

# Notebooks Jupyter
*.ipynb

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# VS Code
.vscode/
*.code-workspace

# IDEs
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Cache des modèles ML
ml_django_project/ml_app/model_cache/*.pkl

# Environment variables
.env
.env.local
